<!-- /templates/fragments/sidebar1.html -->
<div th:fragment="sidebar1">
    <aside class="w-64 bg-[#1e293b] text-white flex flex-col fixed h-full">
        <div class="p-6 text-center border-b border-gray-700">
            <h1 class="text-2xl font-bold">Thiết bị điện</h1>
            <h2 class="text-2xl font-bold">Hải Phòng</h2>
            <p class="mt-2 text-sm text-gray-400">Role: Staff</p>
        </div>
        <nav class="flex-1 overflow-y-auto sidebar-nav px-4 py-4">
            <ul class="space-y-2">
                <li>
                    <a href="#" class="flex items-center px-4 py-2.5 text-sm font-medium rounded-md bg-blue-600">
                        <i class="ri-home-5-line w-6 text-lg"></i>
                        <span class="ml-2">Trang chủ</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center px-4 py-2.5 text-sm font-medium rounded-md hover:bg-gray-700">
                        <i class="ri-account-circle-line w-6 text-lg"></i>
                        <span class="ml-2">Tài khoản</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center px-4 py-2.5 text-sm font-medium rounded-md hover:bg-gray-700">
                        <i class="ri-box-3-line w-6 text-lg"></i>
                        <span class="ml-2">Sản phẩm</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center px-4 py-2.5 text-sm font-medium rounded-md hover:bg-gray-700">
                        <i class="ri-shopping-cart-2-line w-6 text-lg"></i>
                        <span class="ml-2">Đơn hàng</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center px-4 py-2.5 text-sm font-medium rounded-md hover:bg-gray-700">
                        <i class="ri-bar-chart-2-line w-6 text-lg"></i>
                        <span class="ml-2">Báo cáo</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="flex items-center px-4 py-2.5 text-sm font-medium rounded-md hover:bg-gray-700">
                        <i class="ri-logout-box-line w-6 text-lg"></i>
                        <span class="ml-2">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </nav>

    </aside>
</div>
